In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
csv_test = pd.read_csv('answer.csv')

In [3]:
csv_test.shape

(3883, 19)

In [4]:
csv_test.head(3)

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,title
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Toy Story (1995)
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,Jumanji (1995)
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,Grumpier Old Men (1995)

In [ ]:
style.use('seaborn-talk')

matplot